{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>
<body>
    <h1>Welcome to the Bookstore</h1>
    <h2>Available Books:</h2>

    <div class="book-list">
        {% for book in books %}
        <div class="book-card">
            {% if book.cover %}
            <img src="{{ book.cover.url }}" alt="{{ book.title }} cover">
            {% else %}
            <img src="{% static 'store/default_cover.jpg' %}" alt="Default cover">
            {% endif %}
            <h3>{{ book.title }}</h3>
            <p>by {{ book.author.name }}</p>
            <p>Category: {{ book.category.name }}</p>
            <p>₱{{ book.price }}</p>
        </div>
        {% empty %}
        <li>No books available yet.</li>
        {% endfor %}
    </div>
</body>
</html>